<h1>Create Account</h1>

<form method="POST" action="/auth/register">

<label>Email</label>
<input name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<button type="submit">
Register
</button>

</form>