<h1>Inventory Management</h1>

<a href="/admin-inventory/add-card">Add New Card</a>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Rarity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% cards.forEach(card => { %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.rarity %></td>
        <td>$<%= card.price %></td>
      </tr>
    <% }) %>
  </tbody>
</table>