<h1>Add Card</h1>

<form action="/cards/add" method="POST">

<input name="card_name" placeholder="Card Name">

<input name="card_type" placeholder="Type">

<input name="card_attribute" placeholder="Attribute">

<input name="card_attack" placeholder="ATK">

<input name="card_defense" placeholder="DEF">

<textarea name="card_description"></textarea>

<button type="submit">Add Card</button>

</form>