<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header>

<h1>Yu-Gi-Oh Card Shop</h1>

<%- nav %>

</header>

<main>

<%- content %>

</main>

<footer>
<p>&copy; <%= new Date().getFullYear() %> Yu-Gi-Oh Card Shop</p>
</footer>

</body>
</html>