<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/reset.css">
</head>
<body>

<nav>
  <h2>Yu-Gi-Oh Shop</h2>

  <a href="/">Home</a>
  <a href="/cards">Cards</a>
  <a href="/login">Login</a>
</nav>

<hr>

<div>
  <%- content %>
</div>

</body>
</html>
